#!/usr/bin/make -f

## Copyright (C) 2016 - 2016 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs changelog.upstream upstream

## https://github.com/GrapheneOS/hardened_malloc/issues/85
override_dh_dwz:
	/bin/true

override_dh_auto_build:
	dh_auto_build -- CONFIG_NATIVE=false
